<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand">Movies app</span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="navbar-submit d-sm-none" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input class="form-control form-control-lg navbar__search" type="text" formControlName="query"
      placeholder="Search a movie here" />
    <label>
      <input type="submit">
      <img src="assets/icons/search.svg" class="navbar__search-icon" alt=""
        [ngStyle]="{'opacity' : searchForm.invalid ? '0.5' : '1' }">
    </label>
  </form>
  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a routerLink="/" class="nav-item__link" active>New</a>
      </li>
      <li class="nav-item">
        <a routerLink="/popular" class="nav-item__link">Popular</a>
      </li>
      <li ngbDropdown display="dynamic" placement="bottom-right"></li>
    </ul>
  </div>

  <form class="navbar-submit d-none d-sm-block mt-4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input class="form-control form-control-lg navbar__search" type="text" formControlName="query"
      placeholder="Search a movie here" />
    <label>
      <input type="submit" [disabled]="searchForm.invalid">
      <img src="assets/icons/search.svg" class="navbar__search-icon"
        [ngStyle]="{'opacity' : searchForm.invalid ? '0.5' : '1' }" alt="">
    </label>
  </form>

</nav>