@import "styles";

.movieInfo {
  width: 100vw;
  height: 300px;
  background-size: cover;
  position: relative;
  background-color: #edf2f7;
  @include media-screen(xl) {
    background-position: center;
  }
  .movieInfo-layer {
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.5);
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
  }

  .movieInfo__return {
    width: 50px;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

.movieInfo__back--button {
  padding: 1rem;
  width: 5rem;
  top: 2rem;
  left: 2rem;
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .back-icon {
    width: 25px;
  }
}

.movieInfo-container {
  position: relative;
  z-index: 2;
  margin-top: -20rem;
  height: 100%;
}
.movieInfo-container-content {
  width: 50%;
  min-width: 360px;
  font-size: 1.6rem;
  .movieInfo-container-content__poster {
    @include media-screen(small) {
      width: 185px;
    }
    width: 92px;
  }

  .breadcrumb {
    background: none;

    &-item::before {
      color: white;
    }
  }

  .badge {
    font-size: 1.3rem;
  }
}

.movieInfo-container-content__overview {
  position: relative;
  z-index: 5;
  min-width: 36rem;
  width: 50%;
  font-size: 1.6rem;

  @include media-screen(xl) {
    min-width: 50vw;
  }
}

.main-trailer {
  min-width: 100vw;
  min-height: 40rem;
  @include media-screen(medium) {
    min-width: 50rem;
  }
}

.movie-heading {
  font-size: 3.6rem;
}

.movie-trailer {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  @include media-screen(medium) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(35rem, 1fr));
    grid-gap: 1rem;
    overflow: hidden;
  }

  iframe {
    min-width: 100vw;
    min-height: 40rem;
    @include media-screen(medium) {
      min-width: 25rem;
      min-height: 30rem;
    }
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333333;
    width: 50%;
  }
}

.movie-trailer-container {
  min-height: 30rem;
}

.movie-casts {
  display: flex;
  overflow-x: scroll;
  min-height: 30rem;
  min-width: 100vw;
  @include media-screen(xl) {
    min-width: 50vw;
    margin: 0 auto;
  }
  .card {
    min-height: 25rem;
    min-width: 31rem;
  }

  .card-img-top {
    min-height: 45rem;
    max-height: 45rem;
    min-width: 100vw;
    @include media-screen("medium") {
      min-width: unset;
    }
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #333333;
    width: 50%;
  }
}
